# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv
env/
venv/

# Logs and outputs
*.log
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# Project-specific
links.txt
filtered_links.txt
failed_links.txt
downloads/
